@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-size: 100%;
    background-color: #f1f1f1;
}

.cabecalho {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
}

.cabecalho-imagem {
    width: 250px;
}

.cabecalho-menu {
    display: flex;
    gap: 48px;
}

.cabecalho-menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.conteudo {
    border-top: 0.2px solid #CFCFCF;
    margin-top: 24px;
    margin-bottom: 56px;
}

.conteudo-titulo {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 36px;
    padding-bottom: 100px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conteudo-principal-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-texto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

.conteudo-principal-imagem {
    height: 500px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 5px;
}

.conteudo-secundario-titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

.conteudo-secundario-lista {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.conteudo-terciario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}

.conteudo-terciario-texto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.conteudo-terciario-botao {
    background-color: #2f56ca;
    width: 280px;
    height: 72px;
    border: none;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: white;
}

.conteudo-terciario-botao:hover {
    background: #264cbc;
}

.rodape {
    padding: 32px;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}